#joker-label
  .tags
  .categories
    display flex
    justify-content flex-start
    flex-wrap wrap
  a
    border: 1px solid rgba(255,255,255,.8)
    border-color #bfbfbf
    border-radius 999em
    color #bfbfbf
    padding 0 .8em
    line-height: 2em
    font-size 0.8rem
    text-decoration: none
    margin-left 1em
    margin-bottom .8em
    cursor: pointer