.article-list-item
  width 90%
  margin 0 auto
  border-bottom 1px solid #ddd
  padding 2em 0
  .title
    display flex
    justify-content space-between
    a
      font-size 1.5rem
      font-weight 500


ul.socialIcon
  display flex
  width 35%
  margin 0 auto
  padding 0
  justify-content space-evenly
  font-size 1.8rem
  li
    list-style none

    i.fa
      opacity 0.6

      &:hover
        opacity 1