.article-list-item
  width 90%
  margin 0 auto
  border-bottom 1px solid #ddd
  padding 2em 0
  .title
    display flex
    justify-content space-between
    a
      font-size 1.5rem
      font-weight 500