.article-list-item
  width 90%
  margin 0 auto
  border-bottom 1px solid #ddd
  padding 2em 0
  .title
    display flex
    justify-content space-between
    a
      font-size 1.5rem
      font-weight 500


ul.socialIcon
  margin 0 auto
  padding 0
  li
    display inline-block
    list-style none
    cursor: pointer;
    color #fff
    border-radius 8px
    padding .4em .5em
    margin-right .8em
    line-height 1.5
    margin-top 10px
    &#twitter
      background-color #01aced
      &:hover
        background-color #448AFF
    &#github
      background-color #343a40
      &:hover
        background-color #000
    &#qq
      background-color #343a40
      &:hover
        background-color #000
    &#weixin
      background-color #4CAF50
      &:hover
        background-color #388E3C
    &#weibo
      background-color #FFC107
      &:hover
        background-color #FFA000
    a
      color #fff
    i.fa
      color #fff
      margin-right .6em
      &:hover
        opacity 1