#pagination
  text-align center
  margin 30px auto
  cursor pointer
  
  .pagination
    margin 0 auto
    width 50%

    .page-number
      font-size 1rem
      color #fff
      padding 0.3em 0.5em;
      background-color #F57C00
      margin 0 0.5em
      border-radius 50%

      &.current
        padding 0.5em 0.7em;
