#pagination
  text-align center
  height 80px

  .pagination
    line-height 80px
    margin 0 auto
    width 30%

    .page-number
      color #fff
      display inline-block
      width 30px
      height 30px
      line-height 30px
      background-color #999
      margin 5px
