extends includes/layout.pug

block content
  include ./includes/mixins/index.pug
  - var tagsList = list_tags({ show_count: true, style: false, separator: '' })
  - var cateList = list_categories({ show_count: true, style: false, separator: '' })
  - var slefIntro = theme.authorInfo.selfIntro

  #joker-about
    .about-main
      .left-context 
        .intro
          h2 | About Me
          .intro-main
            p!= slefIntro
        .custom
          each slot in theme.slots
            .custom-slot
              h2!= "| " + slot.title
              .custom-lists(class=slot.title)
                + jokerList(slot.lists)
        .topK
          h2 | 置顶文章
          .topk-list
            - site.posts.each(function(article, index) {
              if(!!article.top)
                + articleListItem(article)
            - })
        include includes/unjoker/comments/index.pug
      .right-context 
        include includes/common/label.pug

