
extends includes/layout.pug

block content
  - var tagsList = list_tags({ show_count: true })
  - var archivesList = list_archives()
  - var latest = page.posts.length > 0 ? page.posts.toArray()[0].date : {data: 'latest'}
  //- console.log(page.posts.toArray()[0].date)
  #joker-archive
    aside
      h2 Archives
      if archivesList
        != archivesList
      else
        p None.
        
    h1= date(latest)

    - page.posts.each(function(article){
      .archive-list-item
        a(href=url_for(article.path))= article.title
        time(datetime=date_xml(article.date))= date(article.date)
    - })

    include includes/common/pagination.pug

    


    
