extends includes/layout.pug

block content
  #joker-category
    h1 | 文章分类
    div!= list_categories()
    //- console.log(site.categories)
    //- - page.posts.each(function(article){
    //-   .category-item
    //-     a(href=url_for(article.path))= article.title
    //-     time(datetime=date_xml(article.date))= date(article.date)
    //-   })
  //- #paginator!= paginator()
