extends includes/layout.pug

block content
  include includes/recent-posts.pug
  .category-title= _p('page.category')
  span.tag-cloud-line -
  span.tag-cloud-amount= site.tags.length
  div!= list_categories()
  #paginator!= paginator()
