extends includes/layout.pug

block content
  
  #joker-post
    .post-head
      p.post-title= page.title
    #joker-post-main
      article#joker-article
        != page.content
      #joker-right
        .sidebar-toc!= toc(page.content, {list_number: false, max_depth: 3, min_depth: 2})

  #paginator!= paginator()
