include ../mixins/index.pug
- let copyright = theme.siteInfo.copyright || "hexo"
- let author = theme.siteInfo.author || "noe"

#joker-footer
  include ../common/backToTop.pug
  .social
    + socialIcon()
  .info
    p="Copyright © " + copyright + " 2021"
    p="Powered by " + author