include ../mixins/index.pug
- let copyright = theme.siteInfo.copyright || "hexo"
- let author = theme.siteInfo.author || "noe"

#joker-footer
  .social
    + socialIcon()
  .info
    p="Copyright © " + copyright + " 2021"
    p="Powered by " + author 
  //- - for(let key in socialLink) {
  //-     if(socialLink[key] !== null)
  //-       li
  //-         a(href=socialLink[key]) 
  //-           i.fa.fa-#{key}(aria-hidden="true")
  //- - }
    //- i.fa.fa-weibo(aria-hidden="true")
    //- i.fa.fa-qq(aria-hidden="true")
    //- i.fa.fa-weixin(aria-hidden="true")
    //- i.fa.fa-github(aria-hidden="true")
    //- i.fa.fa-twitter(aria-hidden="true")