// Theme Global color
$theme-bg-color = #fff
$theme-font-color = #fff
// 链接hover变色
$link-hover = #ff1

// archive
$theme-archive-tag-a= #00BCD4
$theme-archive-tag-b= #03A9F4
$theme-archive-tag-c= #2196F3
$theme-archive-tag-d= #1976D2

// 滚动条
$theme-scroll-bg= #f8f8f8
$theme-scroll-color= #FF5722
$theme-scroll-hover= #bbb