// https://github.com/equinusocio/vsc-material-theme
@import "theme"
@import "diff"

// languages = "js" "javascript" "python" "ruby" "xml" "html" "css" "perl" "sql" "coffeescript" "java" "scala" "kotlin" "c" "c\+\+" "go" "less" "sass" "scss" "stylus" "styl" "typescript" "ts" "bash" "yml" "gradle"
// wordWrap = !hexo-config("rootConfig.highlight.line_number") && hexo-config("code_word_wrap")

// loopForLanguages()
// for lang in languages
// .article-container
// figure.highlight
// &{"." + lang}
// table
// &:before
// content: lang

// loopForLanguages()

$hl-code-bg= #282c34
$hl-code-color= #a9a9b3
//#abb2bf
$hl-code-gutter= #555
$hl-code-string= #FF9800
$hl-title-pre= #337ab7
$hl-code-keyword= #03A9F4
$hl-code-title= #4CAF50
$hl-code-builtin-keyword= #F44336
$hl-code-number= #673AB7
$hl-blockquote-gb= #FFC107


#joker-article
  h1, h2, h3, h4, h5
    position: relative
    cursor pointer
    line-height 2
    &::before
      content: "#"
      position: absolute
      left: -1.2rem
      color $hl-title-pre
      opacity 0
      transition .3s
    &:hover::before
      opacity 1


  img
    max-width 80%
    display: block
    margin: 10px auto
  p
    text-indent 2em
  a
    font-style italic
    
    color #673AB7
    background-color #f9f2f4
    &:hover
      text-decoration underline

  ol
    li
      span
        width: 1em;
        color: #c7254e;
        background-color: #f9f2f4;
        height: 1em;
        display: inline-block;
        line-height: 1;
        text-align: center;
        margin-right .5em
  ul
    li
      &::before
        content: ""
        width 7px
        height 7px
        border-radius 50%
        background-color: #BDBDBD
        display inline-block
        vertical-align middle
        margin-right 5px

  &>table
    width 90%
    margin 20px auto
    line-height 2
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    td,th
      padding 0
    caption
      color: #000;
      font: italic 85%/1 arial,sans-serif;
      padding: 1em 0;
      text-align: center;
    td,th
      border-left: 1px solid #cbcbcb;
      border-width: 0 0 0 1px;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: .5em 1em;
    thead
      background-color: #e0e0e0;
      color: #000;
      text-align: left;
      vertical-align: bottom;
    td
      background-color: transparent;
      border-bottom: 1px solid #cbcbcb;
    tbody>tr:last-child>td
      border-bottom-width: 0;

    .video-container
      width 100%
      height 500px
      iframe
        width 100%
        height 500px
  // no hightlight & no prismjs

  // highlight
  .joker-code-area
    width 90%
    border-radius 0.5em
    background-color $hl-code-bg
    margin 10px auto
    .tool-bar
      color #fff
      display flex
      position relative
      &::after
        content: " ";
        position: relative;
        border-radius: 50%;
        background: #ff5f56;
        width: 12px;
        height: 12px;
        top: 0;
        left: 12px;
        margin-top: 12px;
        -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
        box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
      .copy
        cursor pointer
        position absolute
        right 1em
        top 4px
        .copy-status
          opacity 0
    figure
      margin-block-start 0
      margin-block-end 0
      margin-inline-start 0
      margin-inline-end 0
      padding 1.5em 1.5em 1.5em 0.5em
      overflow hidden
      overflow-x auto

      *
        font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      .gutter
        user-select none
        color #fff
        pre
          text-align center
          .line
            line-height 1
            font-size 0.5em
      .code
        color $hl-code-color
        display inline-block
        margin-left 1em
        .line
          line-height 1
          .comment
            font-size 1em
          .function
            .title
              color $hl-code-title
          .keyword
            color $hl-code-keyword
          .built_in
            .keyword
              color $hl-code-builtin-keyword
          .string
            color $hl-code-string
          .number
            color $hl-code-number
    blockquote
      width 85%
      margin 30px auto
      padding 0 30px
      border-left 5px solid #eee
      font-style italic
      background-color $hl-blockquote-gb
      min-height 70px
      overflow hidden
      p
        margin-top 15px

    .highlight .hll {
      background: #282c34
    }

    .highlight .c {
      color: #5c6370;
      font-style: italic
    }

    .highlight .err {
      color: #960050;
      background-color: #1e0010
    }

    .language-coq .highlight .err {
      background-color: transparent
    }

    .highlight .k,.language-coq .highlight .err {
      color: #c678dd
    }

    .highlight .l {
      color: #98c379
    }

    .highlight .n {
      color: #abb2bf
    }

    .highlight .o {
      color: #abb2bf
    }

    .highlight .p {
      color: #abb2bf
    }

    .highlight .cm {
      color: #5c6370;
      font-style: italic
    }

    .highlight .cp {
      color: #5c6370;
      font-style: italic
    }

    .highlight .c1 {
      color: #5c6370;
      font-style: italic
    }

    .highlight .cs {
      color: #5c6370;
      font-style: italic
    }

    .highlight .ge {
      font-style: italic
    }

    .highlight .gs {
      font-weight: 700
    }

    .highlight .kc {
      color: #c678dd
    }

    .highlight .kd {
      color: #c678dd
    }

    .highlight .kn {
        color: #c678dd
    }

    .highlight .kp {
        color: #c678dd
    }

    .highlight .kr {
        color: #c678dd
    }

    .highlight .kt {
        color: #c678dd
    }

    .highlight .ld {
        color: #98c379
    }

    .highlight .m {
        color: #d19a66
    }

    .highlight .s {
        color: #98c379
    }

    .highlight .na {
        color: #d19a66
    }

    .highlight .nb {
        color: #e5c07b
    }

    .highlight .nc {
        color: #e5c07b
    }

    .highlight .no {
        color: #e5c07b
    }

    .highlight .nd {
        color: #e5c07b
    }

    .highlight .ni {
        color: #e5c07b
    }

    .highlight .ne {
        color: #e5c07b
    }

    .highlight .nf {
        color: #abb2bf
    }

    .highlight .nl {
        color: #e5c07b
    }

    .highlight .nn {
        color: #abb2bf
    }

    .highlight .nx {
        color: #abb2bf
    }

    .highlight .py {
        color: #e5c07b
    }

    .highlight .nt {
        color: #e06c75
    }

    .highlight .nv {
        color: #e5c07b
    }

    .highlight .ow {
        font-weight: 700
    }

    .highlight .w {
        color: #f8f8f2
    }

    .highlight .mf {
        color: #d19a66
    }

    .highlight .mh {
        color: #d19a66
    }

    .highlight .mi {
        color: #d19a66
    }

    .highlight .mo {
        color: #d19a66
    }

    .highlight .sb {
        color: #98c379
    }

    .highlight .sc {
        color: #98c379
    }

    .highlight .sd {
        color: #98c379
    }

    .highlight .s2 {
        color: #98c379
    }

    .highlight .se {
        color: #98c379
    }

    .highlight .sh {
        color: #98c379
    }

    .highlight .si {
        color: #98c379
    }

    .highlight .sx {
        color: #98c379
    }

    .highlight .sr {
        color: #56b6c2
    }

    .highlight .s1 {
        color: #98c379
    }

    .highlight .ss {
        color: #56b6c2
    }

    .highlight .bp {
        color: #e5c07b
    }

    .highlight .vc {
        color: #e5c07b
    }

    .highlight .vg {
        color: #e5c07b
    }

    .highlight .vi {
        color: #e06c75
    }

    .highlight .il {
        color: #d19a66
    }

    .highlight .gu {
        color: #75715e
    }

    .highlight .gd {
        color: #f92672
    }

    .highlight .gi {
        color: #a6e22e
    }
  // prismjs