#joker-post
  .post-head
    width 100%
    height 500px
    background-color #009688
    margin-top -100px
    line-height 500px
    .post-title
      font-size 3rem
      text-align center
      font-weight bold

  #joker-post-main
    display flex
    justify-content space-evenly

    #joker-article
      width 60%
        