#joker-post
  .post-head
    width 100%
    height 500px
    background-color #009688
    margin-top -100px
    line-height 500px
    .post-title
      font-size 3rem
      text-align center
      font-weight bold

  #joker-post-main
    padding 0 10%
    display flex
    justify-content space-between

    #joker-article
      width 70%
    
    #joker-toc
      width 20%
      position fixed
      right 10%
      top 535px

      li
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

        