
- var siteTitle = page.title || config.subtitle || ''
- if (is_archive()) siteTitle = 'Archives'
- if (is_tag()) siteTitle = 'Tag: ' + page.tag
- if (is_category()) siteTitle = 'Category: ' + page.category
- if (is_month()) siteTitle += ': ' + page.month + '/' + page.year
- if (is_year()) siteTitle += ': ' + page.year
- siteTitle += ' [ ' + config.title + ' ]'

- var Desc = page.description || page.title || config.description || theme.desc ||''
- var Keywords = (config.keywords || []).join(',')
- if (page.tags && page.tags.data) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- if (page.keywords) pageKeywords = page.keywords.join(',')
- var Author = config.email ? config.author + ',' + config.email : config.author
- var Copyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content="noe")
    meta(name="keywords" content="noe")
    meta(name="author" content="noe")
    meta(name="copyright" content="noe")
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    title= siteTitle
    //- assets
    include assets/top.pug
    include config/config.pug
  body
    header
      include header/index.pug
    main
      .content-outer
        .content-inner
          if body
            div!= body
          else
            block content
    footer
      include footer/index.pug
    //- assets
    include assets/bottom.pug