#joker-about
  padding 30px 10%

  .about-main
    display flex
    justify-content space-between
    .left-context
      width 78%
      .intro
        text-indent 2em
    .right-context 
      width 22%
      .tag
        .tags
        .categories
          display flex
          justify-content flex-start
          flex-wrap wrap
        a
          border: 1px solid rgba(255,255,255,.8)
          border-color #bfbfbf
          border-radius 999em
          color #bfbfbf
          padding 0 .8em
          line-height: 2em
          font-size 0.8rem
          text-decoration: none
          margin-left 1em
          margin-bottom .8em
          cursor: pointer