#joker-about
  padding 30px 10%

  .about-main
    display flex
    justify-content space-between
    .left-context
      width 78%
      padding-right 6em
      .intro
        margin-bottom 50px
        .intro-main
          text-indent 2em
      .custom
        .custom-slot
          margin-bottom 50px
          .custom-lists
            text-indent 2em
    .right-context 
      width 22%