#joker-archive
  padding 30px 10%


#joker-tags
  width 100%
  a
    background-color $theme-archive-tag-a
    border-radius 0.6em
    font-size 1rem
    padding .4em .4em
    display inline-block
    margin .5em .5em
    color $theme-font-color
    position relative
    min-width 80px
    text-align center
    span
    .tag-count
      position absolute
      top -0.6em
      right -0.7em
      background #FF5722
      text-align center
      line-height 1.4em
      font-size .8rem
      border-radius 0.6em
      min-width 30px

#joker-category
  width 100%
  a
    background-color $theme-archive-tag-a
    border-radius 0.6em
    font-size 1rem
    padding .4em .4em
    display inline-block
    margin .5em .5em
    color $theme-font-color
    position relative
    min-width 80px  
    text-align center
    span
    .category-count
      position absolute
      top -0.6em
      right -0.7em
      background #FF5722
      text-align center
      line-height 1.4em
      font-size .8rem
      border-radius 0.6em
      min-width 30px