#joker-archive
  padding 30px 10%

  #joker-posts-list
    .archive-list-item
      width 90%
      margin 0 auto
      border-bottom 1px solid #ddd
      padding 2em 0
      a
        font-size 1.5rem
        font-weight 500


#joker-tags
  width 100%
  a
    background-color $theme-archive-tag-a
    border-radius 0.6em
    font-size 1rem
    padding .6em 1em
    display inline-block
    margin 1em 1em
    color $theme-font-color

    span
    .tag-count
      position relative
      bottom 0.4em
      left 0.4em

#joker-category
  width 100%
  a
    background-color $theme-archive-tag-a
    border-radius 0.6em
    font-size 1rem
    padding .6em 1em
    display inline-block
    margin 1em 1em
    color $theme-font-color

    span
    .category-count
      position relative
      bottom 0.4em
      left 0.4em