footer
  width 100%
  background-color $theme-bg-color
  text-align center
  
  #joker-footer
    ul
      display flex
      width 35%
      margin 0 auto
      padding 0
      justify-content space-evenly
      font-size 1.8rem
      li
        list-style none

        i.fa
          opacity 0.6

          &:hover
            opacity 1