header
  width 100vw
  height 86px
  background-color $theme-color
  border-bottom 1px solid #e8e8e8

  #noe-header
    height 100%
    padding 0 50px
    display flex
    justify-content space-between
    
    #header-logo
      display: flex;
      align-items: center;
      width 100px
      height 86px

      img
        width 100%
    
    #header-nav
      min-width 400px
      display flex
      justify-content space-between
      line-height 86px




