- var posts = page.posts.sort('date', -1).toArray() 

if posts.length > 0
  #joker-posts
    .recent-posts
      - for (var i = 0; i < posts.length; i++)
        .card-post
          - var index = posts[i]
          include post.pug